body, a {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Caption', sans-serif;
    text-decoration: none;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    font-size: 43px;
    color: #5D3DC7;
}

a {
    color: #929292;
    margin-right: 17px;
}

.button {
    border: none;
    border-radius: 50px;
    background-color: #FF5D5F;
    padding: 10px 30px;
}

.button a {
    margin: 0;
    color: #fff;
    font-weight: bold;
}
